<%= render 'studios/info' %>

<div classs="row user-wrap">
  <div class="col-lg-4  col-sm-6 mx-auto text-center user-item">
    <h4>P　R　O　F　I　L　E</h4>
  </div>
</div>
<div class="row user-wrap">
  <div class="col-lg-2 mx-auto text-center">
    <%= attachment_image_tag @user, :profile_image, size:"100x100", class: "profile_image", fallback: "no_user.jpg" %>
  </div>
</div>
<div class="row user-wrap">
  <div class="col-lg-4 mx-auto text-center user-introduction">
    <%= @user.name %> さん
  </div>
</div>
<div class="row user-wrap">
  <div class="col-lg-4 mx-auto text-center user-introduction">
    <%= @user.introduction %>
  </div>
</div>
<% if @user == current_user %>
<div classs="row user-wrap">
  <div class="col-lg-4 col-sm-6 mx-auto text-center user-btn">
    <%= link_to "P R O F I L E　E D I T", edit_user_path(current_user), class: "btn btn-outline-success" %>
  </div>
</div>
<% end %>
<div classs="row user-wrap">
  <div class="col-lg-3 col-sm-6 mx-auto text-center user-btn">
    <%= link_to "お 気 に 入 り の ス タ ジ オ", favorites_user_path(current_user), class: "btn btn-outline-danger" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-11 mx-auto col-sm-12">
    <h4 class="top-studio-logo">投稿したレビュー</h4>
  </div>
</div>

<%= render 'studios/top_reviews', reviews: @reviews %>

<div class="row">
  <div class="col-lg-11 text-right more-string">
    <%= link_to "もっと見る...", reviews_user_path(@user) %>
  </div>
</div>

<div class="row">
  <div class="col-lg-11 mx-auto col-sm-12">
    <h4 class="top-studio-logo">投稿したスタジオ</h4>
  </div>
</div>

<%= render 'studios/top_studios', studios: @studios %>

<div class="row">
  <div class="col-lg-11 text-right more-string">
    <%= link_to "もっと見る...", studios_user_path(@user) %>
  </div>
</div>