<div class="row">
  <div class="col-lg-12">
    <h4 class="area-logo"><i class="fas fa-fire-alt"></i>人気エリアから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 text-right area"><%= link_to image_tag('shinjuku.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "新宿") %></div>
      <div class="col-lg-6 text-left area"><%= link_to image_tag('ikebukuro.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "池袋") %></div>
    </div>
    <div class="row area-search">
      <div class="col-lg-6 text-right area"><%= link_to image_tag('shibuya.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "渋谷") %></div>
      <div class="col-lg-6 text-left area"><%= link_to image_tag('akiba.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "秋葉原") %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h4 class="tag-logo"><i class="fas fa-tags"></i>タグから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, searches_studios_path(tag_id: tag.id), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>
