<div class="row">
  <div class="col-lg-10 offset-lg-1 col-sm-12 mx-auto">
    <div class="location-search">
      <%= link_to maps_studios_path, class:"btn btn-danger btn-lg btn-block" do %>
        <i class="far fa-compass"></i>
        　現　在　地　か　ら　探　す
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <h4 class="area-logo"><i class="fas fa-fire-alt"></i>人気エリアから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-lg-4 offset-lg-2 area col-sm-6 text-right"><%= link_to image_tag('shinjuku.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "新宿") %></div>
      <div class="col-lg-6 area col-sm-6"><%= link_to image_tag('ikebukuro.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "池袋") %></div>
    </div>
    <div class="row area-search">
      <div class="col-lg-4 offset-lg-2 area col-sm-6 text-right"><%= link_to image_tag('shibuya.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "渋谷") %></div>
      <div class="col-lg-6 area col-sm-6"><%= link_to image_tag('akiba.jpg',:width => "400",:height => "150" ), searches_studios_path(search: "秋葉原") %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <h4 class="tag-logo"><i class="fas fa-tags"></i>タグから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, searches_studios_path(tag_id: tag.id), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>
