<% if user_signed_in? %>
  <%= render 'studios/info' %>
<% end %>

<!--スタジオ詳細-->
<div class="container">
  <div class="row studio-container">
    <div class="col-lg-12 mx-auto">
      <div class="row">
        <div class="col-lg-6 text-center">
          <%= attachment_image_tag @studio, :studio_image, fallback: "no_img.png", size:"450x300", class: "shop-image" %>
        </div>
        <div class="col-lg-6">
          <h3 class="shop-name"><%= @studio.name%></h3>

            <!--星評価平均点-->
            <div class="star-item">
              <div id="star_ave_<%= @studio.id %>"></div>
              <div class="star-point"><%= @studio.reviews.average(:rank).to_f.round(1) %></div>
            </div>

            <!--ブックマーク機能-->
            <% if user_signed_in? %>
              <div class="fav-item">
                <%= render 'favorites/favorite-btn', studio: @studio %>
              </div>
            <% end %>

          <span class="shop-explanation"><%= @studio.explanation%></span>
          <div class="shop-tag">
            <% @studio.tags.each do |tag| %>
                <%= link_to tag.name, searches_studios_path(tag_id: tag.id), class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="edit-btn">
            <%= link_to "スタジオ情報を編集する", edit_studio_path(@studio), class: "btn btn-info btn-sm" %>
            <% if user_signed_in? && @studio.user == current_user %>
              <%= link_to "スタジオを削除する", studio_path(@studio), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--スタジオ詳細-->

  <div class="row review-container">
    <div class="col-lg-12 mx-auto">
      <div class="card border-light url-bar">
       <h4>公式ＨＰへ</h4>
       <% if @studio.url.blank? %>
         <%= link_to "公式HPを登録する！", edit_studio_path(@studio) %>
       <% else %>
         <span>(<%= text_url_to_link(h(@studio.url)).html_safe %>)</span>
       <% end %>
      </div>
    </div>

    <!--口コミ表示部-->
    <div class="col-lg-9 mx-auto">
      <h4><i class="far fa-comments"></i>みんなの口コミ</h4>
      <span><i class="fas fa-user-friends"></i>口コミの数：<%= @studio.reviews.count %>件</span>
      <% @reviews.each do |review| %>
      <div class="card border-light review-content">
        <div class="d-flex flex-row review-name">
          <%= attachment_image_tag review.user, :profile_image, size:"35x35", class: "profile_image", fallback: "no_user.jpg" %>
          <h4 class="reviewer-name"><%= review.user.name %> さん</h4>
        </div>
        <div class="review-body">

          <!--星評価表示-->
          <div id="star-rank-<%= review.id %>">
            <strong><%= review.rank %>　</strong>
          </div><br>
          <script>
          $('#star-rank-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rank %>,
          });
          </script>
          <!--星評価表示-->

          <h6>「<%= review.title %>」</br></h6>
          <h7>　<%= review.body %></h7>
        </div>
        <div class="row">
          <div class="review-bottom col-lg-8">
            <strong>投稿日：<%= time_ago_in_words(review.created_at).upcase + "前　" %></strong>
            <% if review.user == current_user %>
              <%= link_to " 　削除", studio_review_path(review.studio, review), method: :delete, data: {confirm: "削除しますか？"} %>
            <% end %>
          </div>

          <% if user_signed_in? %>
            <div class="like-item col-lg-4">
              <%= render 'likes/like-btn', review: review %>
            </div>
          <% end %>

        </div>
      </div>
      <% end %>
    </div>
    <div class="col-lg-9 mx-auto">
      <div class="card border-light review-form">
        <div class="col-lg-11 mx-auto">
          <h4><i class="far fa-edit"></i> <%= @studio.name %>の口コミを投稿</h4>
          <%= form_with(model: [@studio, @review], local: true) do |f| %>

          <%= render 'partial/error_message', model: f.object %>

          <div class="form-group row">
            <div id="star">
              <%= f.label :rank, "評価　" %>
              <%= f.hidden_field :rank, id: :review_star %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control", placeholder: "一言で言うと.." %>

            <%= f.label :body, "コメント" %>
            <%= f.text_area :body, class: "form-control", placeholder: "良かった点、悪かった点など具体的に！" %>

            <div class="col-lg-4 mx-auto">
              <%= f.submit "口コミを投稿", class: "form-control btn btn-success mt-3" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-auto map-logo">
      <h4><i class="fas fa-map-marker-alt"></i> <%= @studio.name %>の地図</h4>
    </div>
    <div class="col-lg-9 mx-auto">
      <div id="map"></div>
    </div>
  </div>
</div>


<script>
  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.studio.latitude,
        lng: gon.studio.longitude
      },
      zoom: 17,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.studio.latitude,
        lng: gon.studio.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
</script>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'review[rank]',
  half: true,
});

$('#star_ave_<%= @studio.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @studio.reviews.average(:rank).to_f.round(1) %>,
});
</script>

