<div class="row">
  <div class="col-lg-11 col-12 mx-auto">
    <h6 class="infomation-responsive infomation-1"><i class="fas fa-info-circle"></i> 口コミ投稿に、AIによる「感情分析スコア」が追加されました！</h6>
    <h6 class="infomation-responsive"><i class="fas fa-info-circle"></i> スタジオを「現在地から探す」ことができるようになりました！</h6>
  </div>
</div>

<%= render 'studios/search' %>

<%= render 'studios/tag_search' %>

<div class="row">
  <div class="col-lg-11 mx-auto col-sm-12">
    <h2 class="top-studio-logo">新着レビュー</h2>
  </div>
</div>

<%= render 'studios/top_reviews', reviews: @reviews %>

<div class="row">
  <div class="col-lg-11 text-right more-string">
    <%= link_to "もっと見る...", studios_path %>
  </div>
</div>

<div class="row">
  <div class="col-lg-11 mx-auto col-sm-12">
    <h2 class="top-studio-logo">新着スタジオ</h>
  </div>
</div>

<%= render 'studios/top_studios', studios: @studios %>

<div class="row">
  <div class="col-lg-11 text-right more-string">
    <%= link_to "もっと見る...", studios_path %>
  </div>
</div>



