<%= render 'studios/search' %>

<%= render 'studios/tag_search' %>

<div class="row">
  <div class="col-lg-12">
    <h4 class="top-studio-logo">新着レビュー</h4>
  </div>
</div>

<%= render 'studios/top_reviews', reviews: @reviews %>

<div class="row">
  <div class="col-lg-12 text-right more-string">
    <%= link_to "もっと見る...", studios_path %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4 class="top-studio-logo">新着スタジオ</h4>
  </div>
</div>

<%= render 'studios/top_studios', studios: @studios %>

<div class="row">
  <div class="col-lg-12 text-right more-string">
    <%= link_to "もっと見る...", studios_path %>
  </div>
</div>



